

/*IMAGES*/
	/*Butterfly World Logo*/
	img.a { width: 200px; }

	/*Butterfly Closeups*/
	img.b { width: ; border: 3px solid #e935dd; }

	/*Conservatory*/
	img.c { width: 400px; border: 3px solid #dcc7c7}

	/*Footer*/
	img.d { width: }
	
/*TABLES*/

	table {border-collapse: collapse; }
	
	/*Row 3 (Left)*/
	td.d { background-color: #eab8c3; padding: 25px; padding-right: 40px;}
	
	/*Row 3 (Right)*/
	td.e {padding-left: 40px; }
	
	td.f {border: 3px dotted red;}
	
	
/*TEXT*/
	
	/*'Where thousands of butterflies take flight'*/
	td.a { color: #980b71; font-family: 'Lucida Sans', Arial ; font-style: italic; font-size: 20pt; text-shadow: 2px 8px 7px #4e7bce; }
	
	/*Row 2 (Buttons)*/
	td.home { font-family: 'Arial'; color: #c0be76; background-color: #28336b; width:7em; 
				text-align:center; border-left: 3px solid black; border-right: 3px solid black; 
				padding: 10px; font-size: 10pt; }
	td.b { font-family: 'Arial'; color: #eaebf1; background-color: #7d83a5; width:7em; 
			text-align:center; border-right: 3px solid black; font-size: 10pt; padding: 10px; }
	td.c { background-color: #72789a; width:7em; }
	
	/*Text Highlihgt Colors*/
	span.a { color: blue; }
	
	/*Heading 1*/
	span.b { font-family: 'Spartan'; font-size: 20pt; }
	
	/*Heading 2*/
	span.c { font=family: ; font-size: 15pt; }