

/*IMAGES*/
	/*Butterfly World Logo*/
	img.a { width: 200px; }

	/*Butterfly Closeups*/
	img.b { width: ; border: 3px solid #A9145A; }

	/*Conservatory*/
	img.c { width: 400px; }

	/*Footer*/
	img.d { width: }
	
	
	
/*TEXT*/
	h1.a { font-family: 'Lucida Sans', Arial; font-size: ; }
	/*Gordon Medium*/
	
	td.a { color: #A9145A; font-family: 'Lucida Sans', Arial ; font-style: italic; font-size: 20pt; }
	/*color: #*/
	
	/*Row 2*/
	td.home { color: #ffff00; background-color: #283368; }
	td.b { color: #ffffff; background-color: # ;}
	td.c { background-color: # ;}